@use '@angular/material' as mat;
@use '../../../assets/themes/lift-colors' as theme;

$animation-duration: 0.3s;

#layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-container {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  gap: 20px;
  padding: 2px 0;
}

#app-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left $animation-duration ease-in-out;
  overflow: hidden;
  padding: 15px 0 15px 25px;
  ngx-skeleton-loader {
    height: 100%;
  }
  main {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1px 20px 1px 1px;
  }
}

